@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: black;
}

li, a, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FAEBD7;
  text-decoration: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  font-family: 'Permanent Marker', sans-serif;
  color: #FAEBD7;
  margin-right: auto;
  font-size: 25px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #4da3ff;
}

button {
  padding: 3px 20px;
  background-color: rgba(77, 163, 255, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(77, 163, 255, 0.8);
}

.imgpessoal {
  width: 300px;
  margin-top: 50px;
}

.pagina1 {
  display: flex;
  background-color: #1C1C1C;
  color: #FAEBD7;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.header-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 30px auto;
}

.title {
  font-size: 40px;
  padding: 20px;
}

.name {
  font-size: 20px;
  padding: 20px;
}

.box-description {
  background-color: #FAEBD7;
  display: flex;
  padding: 100px;
}

.description {
  display: flex;
  text-align: center;
  padding: 5px 150px;
  font-size: 18px;
}
